body{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.links{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: rgb(207, 207, 207);
}

ul{
    list-style-type: none;
}


.section1{
    flex: 1;
    padding: 50px 150px;
    background-color: #1f2937;
    display: flex;
    gap: 50px;
    align-items: center;
}

.section1 .container h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0 0 10px 0;
}

.section1 .container p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0 0 10px 0;
}

.section1 .container button{
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #3882f6;
    padding: 8px 16px;
    border: 0;
    border-radius: 4px;
}
      
.section1 img{
    height: 300px;
    width: 400px;
}










.footer{
    padding: 20px;
    background-color: #1f2937;
    color: rgb(207, 207, 207);
    display: flex;
    justify-content: center;
    align-items: center;
}